.params{
    .grid-container{
        .inputs{
            padding: 20px;
        }        
        .btn{
            margin: 30px;
            
            padding-left: 40px;
            padding-right: 40px;
        }
        
    }
}
