.container {
    .labels {
        div {
            .formulario1 {
                padding: 20px;
            }
            .input1 {
                padding-right: 5px;
            }
            .formulario2 {
                padding: 20px;
            }
            .input2 {
                padding-right: 5px;
            }
            .formulario3{
                padding: 20px;
            }
            .input3 {
                padding-right: 5px;
            }
        }
    
        button{
            border-color: black;
            margin-top: 35px;
        }
    }
}
